<div class="container-fluid mt-5" id="article-show">
  <div class="row lh-lg flex-column align-items-center">
    <div class="col-md-11 col-lg-8 col-xl-9 px-lg-5" id="article-body">
      <h1 class="text-center mt-5 mt-0"><%= @article.title %></h1>
      <p class="text-center mb-0"><%= "投稿日: #{to_japanese_date(@article.created_at)}" %></p>
      <p class="article-tags d-flex flex-wrap">
        <i class="bi bi-tags-fill"></i>
        <% @article.tags.each do |tag| %>
          <span class="filter-item" data-nosnippet>
            <a
              href="<%= "#{root_path}?tags=#{tag}" %>"
              class="filter-tag badge rounded-pill mx-1">
              <%= icon tag%>
              <%= tag %>
            </a>
          </span>
        <% end %>
      </p>
      <%= "#{parse_markdown(string: (render "articles/markdowns/#{@article.id}.md.erb"), escape_html: false)}".html_safe %>
    </div>
    <%= render "advertising_section" %>
    <%= render "footer_navigation" %>
  </div>
</div>