<section id="about-top">
  <div class="container d-flex flex-column justify-content-center">
    <div class="row mb-3">
      <h1>ABOUT</h1>
    </div>
    <div class="row">
      <div class="col mb-2">
        <span class="section-header">サイト運営者</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 col-12">
        <p class="fw-light">高江洲　順八</p>
      </div>
      <div class="col-md-9 col-12">
        <p id="sub-name-header">(たかえす じゅんや / <%= Time.new.year - 1993 %> 歳)</p>
      </div>
    </div>
    <div class="row">
      <div class="col mb-2">
        <span class="section-header">これまでの経歴</span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row">
      <div class="col-md-3 fw-light">2016.04 ~ 2019.03</div>
      <div class="col-md-6 fw-light">銀行系システム開発のプロジェクトでIT業界のキャリアをスタート</div>
      <div class="col-md-3 my-3 my-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=sql"><%= icon "sql" %>SQL</a></span>
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=excel"><%= icon "excel" %>Excel</a></span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row">
      <div class="col-md-3 fw-light">2019.04 ~ 2020.12</div>
      <div class="col-md-6 fw-light">Web 系開発の企業で、Web ディレクター兼ジュニアプログラマーを経験</div>
      <div class="col-md-3 my-3 my-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=php"><%= icon "php" %>PHP</a></span>
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=mysql"><%= icon "mysql" %>MySQL</a></span>
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=javascript"><%= icon "javascript" %>JavaScript</a></span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row mb-3">
      <div class="col-md-3 fw-light">2021.01 ~ 2021.03</div>
      <div class="col-md-6 fw-light">Ruby, Rails をプログラミングスクールで習得</div>
      <div class="col-md-3 my-3 my-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=ruby"><%= icon "ruby" %>Ruby</a></span>
        <span><a class="filter-tag badge rounded-pill mx-1 d-inline pb-1" href="articles?tags=rails"><%= icon "rails" %>Rails</a></span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col mb-2">
        <span class="section-header">このサイトについて</span>
      </div>
    </div>
    <div class="row pe-md-5 fw-light">
      <%= "#{parse_markdown(string: (render "introduction.md.erb"), escape_html: false)}".html_safe %>
      <p><i class="bi bi-arrow-right-square-fill"></i><a href="articles" class="ms-2">BLOGはこちら</a></p>
    </div>
  </div>
</section>