<div class="container-fluid px-0 px-md-5 m-0" id="article-container">
  <%# image %>
  <div class="row">
    <div class="col image-container">
      <%= image_tag @article[:hero_image], id: "article-hero" %>
    </div>
  </div>
  <div class="row mx-2 mx-md-5">
    <h1 class="col"><%= @article[:title] %></h1>
  </div>
  <div class="row mx-2 mx-md-5">
    <p class="text-muted">更新日: <%= get_modified_date(__FILE__) %></p>
  </div>
  <div class="row mx-2 mx-md-5 lh-lg">
    <%= render inline: @html %>
  </div>
  <div class="row mt-5 py-5 g-0 d-flex justify-content-md-around">
    <%= render "footer_navigation" %>
  </div>
</div>