<nav class="sticky-top">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a href="<%= articles_path %>" class="text-decoration-none text-reset">
          <%= Rails.configuration.site_name %>
        </a>
      </div>
      <div class="col">
        <a href="<%= about_path %>" class="text-decoration-none text-reset">ABOUT</a>
      </div>
      <div class="col">
        <div class="external-links flex-row justify-content-center">
          <a class="col ms-2" href="https://github.com/Junya-Takaesu" target="_blank">
            <%= image_tag "GitHub-Mark-32px.png", style: "width: 20px; height: 20px", prevent_resolve_path: true %>
          </a>
          <a class="col ms-2" href="https://twitter.com/EightTakaesu" target="_blank">
            <%= image_tag "iconmonstr-twitter-5.svg", style: "width: 20px; height: 20px", prevent_resolve_path: true %>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>