<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= @title %></title>
    <%= description_meta_tag %>
    <%= json_ld_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-24L1HV3Z47"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-24L1HV3Z47');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css">
    <script src="https://kit.fontawesome.com/848bb9e5d3.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@EightTakaesu" />
    <meta name="twitter:title" content="<%= @title %>" />
    <meta name="twitter:description" content="<%= page_description %>" />
    <meta name="twitter:image" content="https://i.imgur.com/3P88u6M.jpg" />
    <meta name="twitter:image:alt" content="Hero image for this website" />
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
